<form action="<%= action_url %>" method="post">
  <%= csrf_token %>
  <label>Username
    <input type="text" name="user[username]" value="<%= user.username %>">
  </label>
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]" value="">

  <input type="submit" value="Submit">
</form>
